.myHome{
    height: 100vh;
    display: flex;
    justify-content: center;
    background: lightblue;
    align-items: center;
}

.myHome > div{
    margin: 0px 30px;
    height: fit-content;
    padding: 15px;
    font-size: 25px;
}