.myHome{
    height: calc(100vh - 80px);
    display: flex;
    justify-content: center;
    background: lightblue;
    align-items: center;
}

.myHome > div{
    margin: 0px 10px;
    height: fit-content;
}