.mChat-Home{
    background-color: white;
    display: flex;
    height: calc(100vh - 80px);
    overflow: hidden;
}

.mChat-Home .chats{
    background: #ede7ff;
    max-width: 500px;
    width: 50%;
    /* border-radius: 5px; */
    padding: 10px 0px;
    font-size: 20px;
    height: inherit;
    overflow-y: auto;
    position: relative;
}

.mChat-Home .chats .allChats > div{
    padding: 10px;
    cursor: pointer;
    border-bottom: 2px solid lightgrey;
}

.mChat-Home .chats > div > div > div{
    height: 35px;
    overflow: hidden;
}

.mChat-Home .chats .allChats > div:hover{
    background-color: rgb(211, 209, 209);
}

.mChat-Home .chat{
    /* background-color: red; */
    background: #26283e5e;
    width: 100%;
    height: inherit;
}

.mChat-Home .chat .messages{
    max-width: 100%;
    background-color: transparent;
    height: calc(100% - 60px);
}

.mChat-Home .chat .messages h3{
    position: sticky;
    top: 0px;
    left: 50%;
    width: fit-content;
    transform: translateX(-35%);
    background: #908c90ed;
    padding: 0px 5px;
    border-radius: 0px 0px 15px 15px;
    font-weight: 400;
}

.mChat-Home .chat .messages .sent{
    background-color: #3c7a3c;
}

.mChat-Home .chat .messages .received{
    background-color: #6659ad;
}

.mChat-send {
    display: flex;
    width: 100%;
    padding: 10px;
}

.mChat-send input, input {
    padding: 5px 10px;
    outline: none;
    border-radius: 5px;
    border: 0px solid black;
    width: 100%;
}

.search{
    position: relative;
    height: calc(100vh - 150px);
    position: absolute;
    width: 100%;
    background: #00000057;
    top: 70px;
    display: none;
}

.searchBar{
    display: flex;
    align-items: center;
    padding: 10px;
    width: fit-content;
}

.searchBar input{
    min-width: 128px;
}

.searchBar img{
    cursor: pointer;
    height: 35px;
    width: 40px;
}

.results{
    background: white;
    position: relative;
    left: 10px;
    width: 200px;
    border-radius: 0px 0px 10px 10px;
    padding: 5px 10px;
    /* height: 80%; */
    top: -5px;
    font-size: 17px;
}

.results > div{
    display: flex;
    justify-content: space-between;
    height: fit-content!important;
}

.results > div > div:nth-child(2)
{
    cursor: pointer;
}

.mChat-Home .chat .messages .backButton{
    position: fixed;
    top: 80px;
    left: 34%;
}

@media screen and (max-width: 580px) {
    .mChat-Home .chat{
        display: none;
    }
    
    .mChat-Home .chats{
        max-width: 100%;
        width: 100%;
    }

    .mChat-Home .chat .messages .backButton{
        left: 10px;
}
}
/* .submit {
    width: fit-content !important;
    height: fit-content !important;
    border-radius: 5px!important;
} */

