.mChat-Home {
    background-color: white;
    display: flex;
    height: 100vh;
    overflow: hidden;
}

.mChat-Home .chats {
    background-color: #0c0523;
    max-width: 500px;
    width: 50%;
    /* border-radius: 5px; */
    padding: 10px 0px;
    font-size: 20px;
    height: inherit;
    overflow-y: auto;
    position: relative;
    color: white;
    box-shadow: -1px 0px 17px 2px black;
}

.mChat-Home .chats .allChats>div {
    padding: 10px;
    cursor: pointer;
    border-bottom: 2px solid lightgrey;
}

.mChat-Home .allChats>div>div {
    height: 35px;
    overflow: hidden;
}

.mChat-Home .chats .allChats>div:hover {
    background-color: rgba(255, 255, 255, 0.16);
}

.mChat-Home .chat {
    /* background-color: red; */
    background: #040621;
    width: 100%;
    height: inherit;
    color: white;
}

.mChat-Home .chat .messages {
    max-width: 100%;
    background-color: transparent;
    height: calc(100% - 60px);
}

.mChat-Home .chat .messages .nameHeading {
    position: sticky;
    top: 0px;
    /* left: 50%; */
    width: 100%;
    /* transform: translateX(-50%); */
    /* background: #908c90ed; */
    /* padding: 0px 5px; */
    border-radius: 0px 0px 15px 15px;
    font-weight: 400;
    display: flex;
    /* flex-direction: row; */
    align-items: center;
}

.mChat-Home .chat .messages .nameHeading h3 {
    font-weight: 400;
    margin: auto;
}

.mChat-Home .chat .messages .sent {
    background-color: #3c7a3c;
}

.mChat-Home .chat .messages .received {
    background-color: #6659ad;
}

.mChat-send {
    display: flex;
    width: 100%;
    padding: 10px;
}

.mChat-send input,
input {
    padding: 5px 10px;
    outline: none;
    border-radius: 5px;
    border: 0px solid black;
    width: 100%;
    background-color: #aeb0bd24;
    color: white;
}

.search {
    position: absolute;
    height: calc(100vh - 70px);
    width: inherit;
    background: #00000057;
    top: 63px;
    display: none;
    left: 0px;
    padding: 0px 40px 0px 10px;
}

.searchBar {
    display: flex;
    align-items: center;
    width: 100%;
    /* margin-right: 5px; */
}

.homeMenu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
}

.searchBar input {
    min-width: 128px;
}

.searchBar img {
    cursor: pointer;
    height: 35px;
    width: 40px;
    filter: invert(1);
}

.results {
    background: white;
    left: 10px;
    width: inherit;
    border-radius: 0px 0px 10px 10px;
    padding: 5px 10px;
    font-size: 17px;
}

.results>div {
    display: flex;
    justify-content: space-between;
    height: fit-content !important;
    color: black;
}

.results>div>div:nth-child(2) {
    cursor: pointer;
}

.mChat-Home .chat .messages .backButton {
    position: static;
    margin: 5px 0px 0px 5px;
}

.message {
    position: fixed;
    top: 80px;
    width: 100%;
    /* font-size: 20px; */
}

@media screen and (max-width: 658px) {
    .mChat-Home .chat {
        display: none;
    }

    .mChat-Home .chats {
        max-width: 100%;
        width: 100%;
    }

    .mChat-Home .chat .messages .backButton {
        left: 10px;
    }
}

/* .submit {
    width: fit-content !important;
    height: fit-content !important;
    border-radius: 5px!important;
} */